<div class="margin-top"></div><!--nav margin-->
<div class="container">
    <!--main video-->
            <div class="embed-responsive embed-responsive-16by9">
                <%=video_tag "main.mp4",:id => "myvid", :width => "100%", :height =>"100%", :controls => false, :autoplay => true, :loop => true %>
                    <div class="row home-search-wrap">
                        <div class="col-sm-4"></div>
                        <div class=" col-sm-4 control-label-center">
                       
                        <!--원데이 클래스 등록시에만 보여줘야 합니다-->
                            <span class="input-group-btn">
                               <a class="btn btn-lg btn-home" href="/classes/2/posts">클래스 신청하기</a>
                                <!--메인 동영상 관리 페이지에서 드롭다운으로 카테고리 선택하면 링크 바뀌게 해야합니다-->
                            </span>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
            </div>
            <!--/.embed-responsive embed-responsive-16by9-->
    <!--/.main video-->
    <br/>

 
    <!--last class list-->
    <section>
        <div>
            <h4 class="darkgray"><small>*클래스 더보기</small></h4>
        </div>

            <!--Content BOX-->
            <div class="row">
                <!--content1-->
                <div class="col-md-4 portfolio-item">
                    <%= link_to "/home/calendar" do %>
                      <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/destory/IMG_8695.JPG?X-Amz-Date=20151201T121013Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=8f4818d22468c24c8504a84f62761bb2b4c716e8ee162b13c212e9a7c7d20e84&X-Amz-Credential=ASIAIH7QRUJNFCU3OOYQ/20151201/ap-northeast-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzENH//////////wEagAIwNcVR3JBbFJ6vUtVKZS3gH4awijeoiKyZFEf4I0Mw5/yuxJsgIQhp7nGy913h7%2BVD9X%2BRKIQTHBSMO1s4DJbITK9yq8NoMcpxhc9/I8Wl2yo3fGZDP%2B6ZjTMCHJ7h7jVTGjwpAAbTJPjDFS8RidkgbIxEJsSLLL7YuV%2BlQei6CHfXVIaIinNK6MSCGl5GjY8rcaXxznhRPLTJLD46CjgrneJTx9JrVBizZ3By/L7PcPeOjSi/lMnxDvW/oZTf4FX0Donw5DArvzQbpz6vE%2BBIqjdIug6gMng9tepdJlziyiKLPxHzoWCH/yostQP1QfZwTFyUWlwpcIo77zfJhVjAIK2o9bIF", :width => "100%", :height =>"250px", :class =>"img-hover"%>
                    <% end %>
                    <h3>
                        <a href="/home/canlendar">요리책방 꼬르륵</a>
                    </h3>
                    <p>동화책-우리엄마는 슈퍼파워</p>
                </div>
                <!--/.content1-->

                <!--content1-->
                <div class="col-md-4 portfolio-item">
                    <%= link_to "/home/calendar" do %>
                      <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/jung-in/uploads/post/img/10/classimg.jpg?X-Amz-Date=20151201T120612Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=b1776cee000aea87be65fc6ab9fed0a25a153d919c479f07bbfe547d4dff0844&X-Amz-Credential=ASIAIH7QRUJNFCU3OOYQ/20151201/ap-northeast-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzENH//////////wEagAIwNcVR3JBbFJ6vUtVKZS3gH4awijeoiKyZFEf4I0Mw5/yuxJsgIQhp7nGy913h7%2BVD9X%2BRKIQTHBSMO1s4DJbITK9yq8NoMcpxhc9/I8Wl2yo3fGZDP%2B6ZjTMCHJ7h7jVTGjwpAAbTJPjDFS8RidkgbIxEJsSLLL7YuV%2BlQei6CHfXVIaIinNK6MSCGl5GjY8rcaXxznhRPLTJLD46CjgrneJTx9JrVBizZ3By/L7PcPeOjSi/lMnxDvW/oZTf4FX0Donw5DArvzQbpz6vE%2BBIqjdIug6gMng9tepdJlziyiKLPxHzoWCH/yostQP1QfZwTFyUWlwpcIo77zfJhVjAIK2o9bIF", :width => "100%", :height =>"250px", :class =>"img-hover"%>
                    <% end %>
                    <h3>
                        <a href="/home/canlendar">주니어 클래스</a>
                    </h3>
                    <p>크리스마스 구겔호프</p>
                </div>
                <!--/.content1-->
                <!--content1-->
                <div class="col-md-4 portfolio-item">
                    <%= link_to "/home/calendar" do %>
                      <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/destory/IMG_0248.JPG?X-Amz-Date=20151201T121007Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=16ee2bba0400ee1779c0e3e832a6b691e9f5c6e50e64bd529d073be5414516b1&X-Amz-Credential=ASIAIH7QRUJNFCU3OOYQ/20151201/ap-northeast-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzENH//////////wEagAIwNcVR3JBbFJ6vUtVKZS3gH4awijeoiKyZFEf4I0Mw5/yuxJsgIQhp7nGy913h7%2BVD9X%2BRKIQTHBSMO1s4DJbITK9yq8NoMcpxhc9/I8Wl2yo3fGZDP%2B6ZjTMCHJ7h7jVTGjwpAAbTJPjDFS8RidkgbIxEJsSLLL7YuV%2BlQei6CHfXVIaIinNK6MSCGl5GjY8rcaXxznhRPLTJLD46CjgrneJTx9JrVBizZ3By/L7PcPeOjSi/lMnxDvW/oZTf4FX0Donw5DArvzQbpz6vE%2BBIqjdIug6gMng9tepdJlziyiKLPxHzoWCH/yostQP1QfZwTFyUWlwpcIo77zfJhVjAIK2o9bIF", :width => "100%", :height =>"250px", :class =>"img-hover"%>
                    <% end %>
                    <h3>
                        <a href="/home/canlendar">크리스마스 성인 베이킹 특강</a>
                    </h3>
                    <p>크리스마스 구겔호프</p>
                </div>
                <!--/.content1-->
            </div>
            <!-- /.Content BOX -->
    </section>
</div>
<!--/.container-->



<script>


    scaleVideoContainer();

    initBannerVideoSize('.video-container .poster img');
    initBannerVideoSize('.video-container .filter');
    initBannerVideoSize('.video-container video');

    $(window).on('resize', function() {
        scaleVideoContainer();
        scaleBannerVideoSize('.video-container .poster img');
        scaleBannerVideoSize('.video-container .filter');
        scaleBannerVideoSize('.video-container video');
    });

    



function scaleVideoContainer() {

    var height = $(window).height() + 5;
    var unitHeight = parseInt(height) + 'px';
    $('.homepage-hero-module').css('height',unitHeight);

}

function initBannerVideoSize(element){

    $(element).each(function(){
        $(this).data('height', $(this).height());
        $(this).data('width', $(this).width());
    });

    scaleBannerVideoSize(element);

}

function scaleBannerVideoSize(element){

    var windowWidth = $(window).width(),
    windowHeight = $(window).height() + 5,
    videoWidth,
    videoHeight;

    console.log(windowHeight);

    $(element).each(function(){
        var videoAspectRatio = $(this).data('height')/$(this).data('width');

        $(this).width(windowWidth);

        if(windowWidth < 1000){
            videoHeight = windowHeight;
            videoWidth = videoHeight / videoAspectRatio;
            $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

            $(this).width(videoWidth).height(videoHeight);
        }

        $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

    });
}




</script>