<div class="margin-top"></div><!--nav margin-->
<div class="container">
    <!--main video-->
            <div class="embed-responsive embed-responsive-16by9">
                <%=video_tag "main.mp4",:id => "myvid", :width => "100%", :height =>"100%", :controls => false, :autoplay => true, :loop => true %>
                    <div class="row home-search-wrap">
                        <div class="col-sm-4"></div>
                        <div class=" col-sm-4 control-label-center">
                       
                        <!--원데이 클래스 등록시에만 보여줘야 합니다-->
                            <span class="input-group-btn">
                               <a class="btn btn-lg btn-home" href="/classes/#{Admin.first.video_class}/posts">클래스 신청하기</a>
                                <!--메인 동영상 관리 페이지에서 드롭다운으로 카테고리 선택하면 링크 바뀌게 해야합니다-->
                            </span>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
            </div>
            <!--/.embed-responsive embed-responsive-16by9-->
    <!--/.main video-->
    <br/>

 
    <!--last class list-->
    <section>
        <div>
            <h4 class="darkgray"><small>*클래스 더보기</small></h4>
        </div>

        <% unless current_user.nil? %>
            <% if current_user.admin==true %>
                <!--for admin-->
                <div class="control-label-right">
                    <a href="/articles/new" class="btn btn-default">클래스 글쓰기</a><br/>
                    <p>지난 클래스 대표사진 권장 사이즈는 360px*250px 입니다</p>
                </div>
                <br/>
                <!--/.for admin-->
            <% end %>
        <% end %>
            <!--Content BOX-->
            <div class="row">
            
               <% @posts.each do |p| %> 
                <!--content1-->
                <div class="col-md-4 portfolio-item">
                    <%= link_to "/classes/#{ p.class_state }/posts/#{ p.id }" do %>
                      <%= image_tag "#{p.img}", :width => "100%", :height =>"250px", :class =>"img-hover"%>
                    <% end %>
                    <h3>
                        <a href="/classes/#{ p.class_state }/posts/#{ p.id }"><%= p.title %></a>
                    </h3>
                    <p><%= p.short %></p>

                    <% unless current_user.nil? %>
                        <% if current_user.admin==true %>
                        <!--for admin-->
                        <!-- <div class="btn-group" role="group">
                            <a class="btn btn-default">수정하기</a>
                            <a class="btn btn-default">삭제하기</a>
                        </div> -->
                        <!--/.for admin-->
                        <% end %>
                    <% end %>
                </div>
                <!--/.content1-->
                <% end %>
                
            </div>
            <!-- /.Content BOX -->
    </section>
</div>
<!--/.container-->



<script>


    scaleVideoContainer();

    initBannerVideoSize('.video-container .poster img');
    initBannerVideoSize('.video-container .filter');
    initBannerVideoSize('.video-container video');

    $(window).on('resize', function() {
        scaleVideoContainer();
        scaleBannerVideoSize('.video-container .poster img');
        scaleBannerVideoSize('.video-container .filter');
        scaleBannerVideoSize('.video-container video');
    });

    



function scaleVideoContainer() {

    var height = $(window).height() + 5;
    var unitHeight = parseInt(height) + 'px';
    $('.homepage-hero-module').css('height',unitHeight);

}

function initBannerVideoSize(element){

    $(element).each(function(){
        $(this).data('height', $(this).height());
        $(this).data('width', $(this).width());
    });

    scaleBannerVideoSize(element);

}

function scaleBannerVideoSize(element){

    var windowWidth = $(window).width(),
    windowHeight = $(window).height() + 5,
    videoWidth,
    videoHeight;

    console.log(windowHeight);

    $(element).each(function(){
        var videoAspectRatio = $(this).data('height')/$(this).data('width');

        $(this).width(windowWidth);

        if(windowWidth < 1000){
            videoHeight = windowHeight;
            videoWidth = videoHeight / videoAspectRatio;
            $(this).css({'margin-top' : 0, 'margin-left' : -(videoWidth - windowWidth) / 2 + 'px'});

            $(this).width(videoWidth).height(videoHeight);
        }

        $('.homepage-hero-module .video-container video').addClass('fadeIn animated');

    });
}




</script>